.table_container{
    background: #FFFFFF;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.08);
    border-radius: 10px;
    padding: 20px 0;
    margin-top: 70px;
}

.table_header{
    display: flex;
    padding:0 20px 20px 20px;
    height: 50px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #0000002f;
}

.header_right{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.header_right >div{
    margin-right: 10px;
}
.table_title{
    font-family: Proxima Nova;
    font-size: 24px;
    line-height: 29px;
    font-weight: 700;
    letter-spacing: 0.03em;
    color: #232021;
}

.header_right .ant-input{
    border-radius: 30px !important;
    max-width: 150px;
    height: 40px;
}
.table_option{
    cursor: pointer;
    margin: 0 10px;
}

.table_btn{
    border:1px solid rgba(0, 0, 0, 0.185);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 45px;
    margin: 20px 40px 0 40px;
    cursor: pointer;
    font-family: Proxima Nova;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    letter-spacing: 0.015em;
    color: #616173;
}